<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.mapper.EmployeeMapper">
    <insert id="insert" parameterType="com.xzit.model.Employee">
        INSERT INTO employee VALUES (#{id}, #{emp_name}, #{login_name}, #{login_password}, #{age}, #{gender}, #{addr}, #{dept_name}, 2, 0);
    </insert>
    <delete id="deleteById" parameterType="integer">
        UPDATE employee SET deleted=1
        WHERE id=#{id}
    </delete>
    <update id="updateById" parameterType="Employee">
        UPDATE employee SET emp_name= #{emp_name},login_name= #{login_name},login_password= #{login_password},
                            age=#{age}, gender=#{gender}, addr=#{addr},dept_name= #{dept_name}, status=#{status}, deleted=#{deleted}
        WHERE id=#{id}
    </update>
    <select id="selectList" resultType="Employee">
        SELECT * FROM employee
    </select>
    <select id="selectById" resultType="Employee" parameterType="integer">
        SELECT * FROM employee WHERE id=#{id}
    </select>


</mapper>